.ticket-table-div{
    height: 400px;
    font-weight: 100;
    overflow: auto;
    position: relative;
}

h5{
    line-height: 50px;
    font-weight: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}

table{
    overflow: scroll;
}

.ticket-table-div-table-wrap{
    overflow: scroll;
}

.ticket-table-div-table-wrap-none{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-span: all;
}

@media only screen  and (max-width: 660px) {
    .ticket-table-div{
        margin-top: 20px;
    }
}

@media only screen  and (min-height: 1020px) {
    .ticket-table-div{
        margin-top: 20px;
        height: 100%;
        overflow: auto;
    }
}



