.dashboard-div{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dashboard-div-add-ticket{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.dashboard-div-add-ticket-button{
    height: 45px;
    width: 250px;
    color: white;
    background-color: tomato;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
}

.dashboard-div-add-ticket-data-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h6{
    font-weight: 100;
}

.dashboard-div-add-ticket-button:hover{
    cursor: pointer;
    background-color: rgb(247, 83, 54);
}

@media only screen  and (max-width: 660px) {
    .dashboard-div-add-ticket{
        height: 20%;
    }
}


@media only screen  and (min-height: 1180px) {
    .dashboard-div-add-ticket{
        height: 13%;
    }
}

@media only screen  and (min-height: 1020px) {
    .dashboard-div-add-ticket{
        height: 20%;
    }
}

@media only screen  and (min-height: 1360px) {
    .dashboard-div-add-ticket{
        height: 12%;
    }
}
