.app-layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-layout-main{
   padding-left: 15%;
   padding-right: 15%;
   padding-top: 10px;
   padding-bottom: 10px;
}

.app-layout-header{
    height: 61px;
}

.app-layout-main{
    flex: 1;
}

.app-layout-footer{
    height: 50px;
    width: 100vw;
}