.messages-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.messages-div-client:nth-child(even){
    display: flex;
    flex-direction: row-reverse;

}

.messages-div-client{
    display: flex;
    height: 120px;
    overflow: auto;
    margin-bottom: 15px;

}

.messages-div-client-title{
    height: 100%;
    width: 20%;
}

.messages-div-client-title:nth-child(even){
   display: flex;
   padding-left: 3%;
   justify-content: center;
}

.messages-div-client-display{
    width: 80%;
    padding: 3px;
    border: 0.2px solid black;
    font-size: 15px;
    font-weight: 100;
}

.messages-div-operator{
    display: flex;
    height: 120px;
    overflow: auto;
}

.messages-div-operator-display{
    width: 80%;
    padding: 3px;
    border: 0.2px solid black;
}

.messages-div-operator-title{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 90px;
}

.messages-div-send-message{
    display: flex;
    height: 300px;
    flex-direction: column;
}

.messages-div-client-display{
    padding: 5px;
}

.messages-div-client-space{
    width: 40px;
}

.messages-div-client-title-h5{
    font-size: 15px;
    
}

.messages-div-client-title-label{
    font-size: 15px;
}
