.ticket-lsiting-div{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ticket-lsiting-div-main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ticket-lsiting-div-search{
    flex: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-lsiting-div-button{
    height: 50px;
    width: 150px;
    background-color: tomato;
    color: white;
    border-radius: 0.3rem;
    border: none;
}

.ticket-lsiting-div-search-bar{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

input{
    width: 60%;
}

.ticket-lsiting-div-button:hover{
    cursor: pointer;
    background-color: rgb(247, 83, 54);
}