#bread-crumb-div{
    padding-right: 12%;
    padding-left: 12%;
    line-height: 50px;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}